.Portafolio{
    height: auto;
    background-image: url(../img/Fondo\ Liverpool.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
.contenido-seccion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.contenido-seccion img {
    width: 350px; 
    height: 210px; 
    border: 7px solid rgb(0, 0, 0);
    border-radius: 50px;
    margin: 10px;
    filter: blur(2px); 
}
.contenido-seccion h2{
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}
.contenido-seccion .finalissima {
    grid-column: 3;
    grid-row: 2;
}
.contenido-seccion img:hover{
    transform: scale(1.05); 
    filter: none;
    transition: transform 0.3s ease, filter 0.3s ease; 
    border: 7px solid rgb(255, 0, 0); 
    box-shadow: 0 0 40px red;
}
@media (max-width: 768px) {
    .contenido-seccion {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
        gap: 10px; /* Ajuste de espacio entre elementos */
    }

    .contenido-seccion img {
        width: 100%; /* Asegura que las imágenes ocupen el ancho completo */
        height: auto; /* Mantiene la proporción de las imágenes */
    }

    .contenido-seccion h2 {
        font-size: 20px; /* Ajuste de tamaño de fuente para pantallas pequeñas */
    }
}