/* Estilos para la sección */
#Inicio {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/Fondo Liverpool.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
}
.contenido-banner {
    padding: 20px;
    max-width: 1000px;  
    text-align: left; 
    font-family: monospace;
    overflow: hidden; /* Oculta el texto que aún no ha sido "escrito" */
    letter-spacing: 15px; /* Espaciado entre letras */
}
/* Estilos para el título principal */
.contenido-banner h1 {
    font-size: 60px;
    text-transform: uppercase;
    color: rgb(255, 0, 0);
}
/* Animación de escritura */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
.contenido-banner h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}
#alexis {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0; /* Oculta el texto inicialmente */
    animation: typing 1.50s steps(20, end) forwards, blink-caret .50s step-end infinite;
}
#mac {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0; /* Oculta el texto inicialmente */
    animation: typing 1.50s steps(20, end) 1.75s forwards, blink-caret .50s step-end infinite;
}
#allister {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0; /* Oculta el texto inicialmente */
    animation: typing 1.50s steps(20, end) 2.75s forwards, blink-caret .50s step-end infinite;
}
#Futbolista {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0; /* Oculta el texto inicialmente */
    animation: typing 1.50s steps(20, end) 4s forwards, blink-caret .50s step-end infinite;
}
#Profesional {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0; /* Oculta el texto inicialmente */
    animation: typing 1.50s steps(20, end) 4.50s forwards, blink-caret .50s step-end infinite;
}
