/* Estilos para la sección */
#Inicio {
    position: relative;
    height: 100vh;
    color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    background-image: url('../img/Fondo Liverpool.jpg'); /* Imagen de fondo relacionada con Liverpool */
    background-size: cover; /* Ajusta la imagen para que ocupe toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}
/* Estilos para el contenido del banner */
.contenido-banner {
    padding: 20px;
    max-width: 1000px;  
    text-align: left; 
    font-family: monospace;
    overflow: hidden; /* Oculta el texto que aún no ha sido "escrito" */
    letter-spacing: 15px; /* Espaciado entre letras */
}
/* Estilos para el título principal */
.contenido-banner h1 {
    font-size: 60px;
    text-transform: uppercase;
}
/* Animación de escritura */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
/* Animación para Alexis */
#alexis {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0; /* Oculta el texto inicialmente */
    animation: typing 1.50s steps(20, end) forwards, blink-caret .50s step-end infinite;
}
/* Animación para Mac */
#mac {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0; /* Oculta el texto inicialmente */
    animation: typing 1.50s steps(20, end) 1.75s forwards, blink-caret .50s step-end infinite;
}
/* Animación para Allister */
#allister {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0; /* Oculta el texto inicialmente */
    animation: typing 1.50s steps(20, end) 2.75s forwards, blink-caret .50s step-end infinite;
}